.four {
    background-color: #E0263C;
    width: 1010px;
    height: 250px;
    position: absolute;
    top: 665px;
    left: 260px;
    display: flex;
}
.fourflex{
    display: flex;
    flex-direction: column;
}
.fourp {
    width: 240px;
    height: 100px;
    position: absolute;
    top: 126px;
    padding-left: 14px;
}
.fouricon{
    width: 80px;
    height: 70px;
    position: absolute;
    top: 29px;
    padding-left: 90px;
}
.fouricon img{
        width: 45px;
        height: 45px;
    
}

.fourh3{
    width: 240px;
    height: 70px;position: absolute;
    top: 79px;
    padding-left: 15px;
    
}
.fourh3 h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 32px; */
    letter-spacing: 0.1px;
    color: #252B42;
    margin-block-start: 1em;
}
.fourp p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.2px;

color: #FFFFFF;
}

.fourone{
    width:250px;
    height: 251px;
    background-color: aliceblue;
}
.fourtwo{
    width:250px;
}
.fourthree{
    width:250px;
    height: 251px;
    background-color: aliceblue;
}
.fourfour{
    width:250px;
}

.fourbelow {
    width: 75%;
    height: 180px;
    background-color: hsl(353, 75%, 51%);
    border-radius: 40px;
    position: relative;
    top: 977px;
    left: 200px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.fourbelow h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-shadow: -4px 4px 2px rgba(0,0,0,0.6);
    margin-block-end: 0rem;
    position: relative;
    top: 10px;
    left: 45px;

}
.fourbelow p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #004fa2;
    position: relative;
    top: -15px;
}
.fourbelowbtn {
    position: relative;
    top: 50px;
    left: 130px;
}
.fourbelow button {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 240px;
    border: none;
    height: 70px;
}

@media screen and (max-width:1200px) {
    .four {
        background-color: #E0263C;
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
    }
    .fourp {
        width: 240px;
        height: 100px;
        position: relative;
        top: 126px;
        padding-left: 14px;
    }
    
    
}