.four {
    background-color: var(--primary-red-color);
    width: 1114px;
    height: 250px;
    position: absolute;
    top: 665px;
    left: 199px;
    display: flex;
}
.fourflex{
    display: flex;
    flex-direction: column;
}
.fourp {
    width: 240px;
    height: 100px;
    position: absolute;
    top: 126px;
    padding-left: 14px;
}
.fouricon{
    width: 80px;
    height: 70px;
    position: absolute;
    top: 29px;
    padding-left: 90px;
}
.fouricon img{
        width: 45px;
        height: 45px;
    
}

.fourh3{
    width: 256px;
    height: 70px;position: absolute;
    top: 79px;
    padding-left: 15px;
    
}
.fourh3 h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19.5px;
    text-transform: uppercase;
    /* line-height: 32px; */
    letter-spacing: 0.1px;
    color: #252B42;
    margin-block-start: 1em;
}
.fourp p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.2px;

color: #FFFFFF;
}

.fourone{
    width: 25%;
    height: 251px;
    background-color: aliceblue;
}
.fourtwo{
    width: 25%;
}
.fourthree{
    width: 25%;
    height: 251px;
    background-color: aliceblue;
}
.fourfour{
    width: 25%;
}

.fourbelow {
    width: 75%;
    height: 300px;
    background-color: var(--primary-red-color);
    border-radius: 40px;
    position: relative;
    top: 977px;
    left: 200px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.fourbelowh4 { width: 862px; display: flex; flex-direction: column; align-items: baseline; height: 93px; position: relative; top: -80px; }

.fourbelow h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 0px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-shadow: -4px 4px 2px rgba(0,0,0,0.6);
    margin-block-end: -4rem;
    position: relative;
    top: 45px;
    left: 155px;

}
.fourbelow span {padding-left: 1em;  }
.fourbelow span.bigiii {
    height: 269px;
    padding-bottom: 60px;
}
.fourbelow .bigiii h4{
    font-size: 120px;
}
.fourbelow p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #004fa2;
    position: relative;
    top: -9px;
    width: 125px;
    left: 4px;
}
.fourbelowbtn {
    position: relative;
    left: -199px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 274px;
    top: 13px;
}

.fourbelow button {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 240px;
    border: none;
    height: 70px;
    
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.fourbelow .rocketbtn{
    width: 35px;
    height: 35px;
    background-color: rgba(0, 79, 162, 0.32);
    border-radius: 50%;
}
/* .fourbelow .btnhome{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 0px;
gap: 20px;
width: 3000px;
height: 48px;
} */

.fourbelow .btn{
    display: flex;
flex-direction: column;
align-items: center;
padding: 1px 1px;
width: 238px;
height: 56px;
background: #004fa2;
border-radius: 50px;
border-style: none;
}


.fourbelow .btntext{
    width: 140px;
    height: 3px;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

@media screen and (max-width:1200px) {
    .four {
        background-color: var(--primary-red-color);
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
    }
    .fourp {
        width: 240px;
        height: 100px;
        position: relative;
        top: 126px;
        padding-left: 14px;
    }
    
    
}