@media screen and (1500px <= width <= 3000px) {
    .getin {
        width: 82%;
    position: relative;
    top: 650px;
    left: 8.5%;
        display: flex;
        flex-direction: column;
    }
    
    .getinhead {
        display: flex;
        flex-direction: column;
        position: relative;
        /* top: -2px; */
        left: 25%;
    }
    .getinhead p{
        width: 600px;
        margin-block-end: 0em;
        margin-block-start: 0em;
    }
    
    .getin p{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    }
    
    .getinhead h2{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 128px;
    
    }
    
    .getinrest {
        display: flex;
        flex-direction: row;
        position: relative;
    top: 40px;
    width: 91%;

    }
    .getinrest svg{
            padding: 0px 100px;
            position: relative;
            top: 80px;
    }
    .getin span{
            padding: 0px 79px;
            position: absolute;
            top: 206px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252B42;
            width: 150px;
        
    }
    .twoemail {
        position: absolute;
        top: 150px;
        left: 610px;
    }
    .resttwo span{
        color: #ffffff;
    }
    .getinrest p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
        position: relative;
    top: 100px;
    left: 15%;
    width: 77%;
    }
    .resttwo p{
        color: #ffffff;
        /* padding-left: 50px; */
    }
    .restthree p.getsbtntext{
        /* padding-left: 88px; */
    }
    .restthree svg{
        padding-left: 90px;
    }
    
    p.getsbtntext {
        color: var(--primary-red-color);
        top: 245px;
    }
    .resttwo p.getsbtntext {
        color: #ffffff;
        padding-left: 92px;
    }
    .restone {
        width: 25%;
    display: flex;
    flex-direction: column;
    }
    .resttwo {
        width: 30%;
    background-color: var(--primary-red-color);
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    }
    .resttwo:hower{
        transform: translateZ(100px);
    }
    
    .restthree {
        width: 25%;
        height: 309px;
        display: flex;
        flex-direction: column;
    }
    a.getsbtn1 {
        position: relative;
        top: 140px;
        background-color: white;
        width: 40%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 96px;
    }
    .getsbtn1:hover{
            background-color: var(--primary-red-color);
            border: 1px solid;
            border-color:#ffffff ;
       
    }
    p.emailtextt {
        position: relative;
        left: 6%;
    }
    .getsbtn3:hover{
        background-color: var(--primary-red-color);
        border: 1px solid;
        border-color:#ffffff ;
    
    }
    p.getsbtntext1 {
        top: 0px;
        color: var(--primary-red-color);
    }
    .getsbtntext1:hover{
        top: 0px;
        color: #ffffff;
    }
    .getsbtntext3:hover{
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext2 {
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext3 {
        top: 0px;
        color: var(--primary-red-color);
    }
    a.getsbtn3{
        position: relative;
        top: 140px;
        /* background-color: white; */
        width: 50%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 20%;
    }
   
    a.getsbtn2 {
        position: relative;
    top: 140px;
    /* background-color: white; */
    width: 50%;
    height: 47px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    left: 25%;
    display: flex;
    }
}

@media screen and (max-width: 1500px) {
    .getin {
        width: 82%;
    position: relative;
    top: 650px;
    left: 8.5%;
        display: flex;
        flex-direction: column;
    }
    
    .getinhead {
        display: flex;
        flex-direction: column;
        position: relative;
        /* top: -2px; */
        left: 25%;
    }
    .getinhead p{
        width: 600px;
        margin-block-end: 0em;
        margin-block-start: 0em;
    }
    
    .getin p{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    }
    
    .getinhead h2{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 128px;
    
    }
    
    .getinrest {
        display: flex;
        flex-direction: row;
        position: relative;
    top: 40px;
    width: 91%;

    }
    .getinrest svg{
            padding: 0px 100px;
            position: relative;
            top: 80px;
    }
    .getin span{
            padding: 0px 79px;
            position: absolute;
            top: 206px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252B42;
            width: 150px;
        
    }
    .twoemail {
        position: absolute;
        top: 150px;
        left: 610px;
    }
    .resttwo span{
        color: #ffffff;
    }
    .getinrest p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
        position: relative;
    top: 100px;
    left: 15%;
    width: 77%;
    }
    .resttwo p{
        color: #ffffff;
        /* padding-left: 50px; */
    }
    .restthree p.getsbtntext{
        /* padding-left: 88px; */
    }
    .restthree svg{
        padding-left: 90px;
    }
    
    p.getsbtntext {
        color: var(--primary-red-color);
        top: 245px;
    }
    .resttwo p.getsbtntext {
        color: #ffffff;
        padding-left: 92px;
    }
    .restone {
        width: 25%;
    display: flex;
    flex-direction: column;
    }
    .resttwo {
        width: 30%;
    background-color: var(--primary-red-color);
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    }
    .resttwo:hower{
        transform: translateZ(100px);
    }
    
    .restthree {
        width: 25%;
        height: 309px;
        display: flex;
        flex-direction: column;
    }
    a.getsbtn1 {
        position: relative;
        top: 140px;
        background-color: white;
        width: 40%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 96px;
    }
    .getsbtn1:hover{
            background-color: var(--primary-red-color);
            border: 1px solid;
            border-color:#ffffff ;
       
    }
    p.emailtextt {
        position: relative;
        left: 6%;
        font-size: 11px;
    }
    .getsbtn3:hover{
        background-color: var(--primary-red-color);
        border: 1px solid;
        border-color:#ffffff ;
    
    }
    p.getsbtntext1 {
        top: 0px;
        color: var(--primary-red-color);
    }
    .getsbtntext1:hover{
        top: 0px;
        color: #ffffff;
    }
    .getsbtntext3:hover{
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext2 {
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext3 {
        top: 0px;
        color: var(--primary-red-color);
    }
    a.getsbtn3{
        position: relative;
        top: 150px;
        /* background-color: white; */
        width: 50%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 20%;
    }
   
    a.getsbtn2 {
        position: relative;
    top: 140px;
    /* background-color: white; */
    width: 50%;
    height: 47px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    left: 25%;
    display: flex;
    }
    
}
@media screen and (max-width:900px) {
    .getin {
        width:90%;
    position: relative;
    top: 1550px;
    left: 2%;
        display: flex;
        flex-direction: column;
    }
    
    .getinhead {
        display: flex;
        flex-direction: column;
        position: relative;
        /* top: -2px; */
        left: 25%;
        width: 90%;
    }
    .getinhead p{
        width: 600px;
        margin-block-end: 0em;
        margin-block-start: 0em;
    }
    
    .getin p{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    }
    
    .getinhead h2{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
    }
    
    .getinrest {
        display: flex;
        flex-direction: column;
        position: relative;
    top: 40px;
    width: 90%;

    }
    .getinrest svg{
            padding: 0px 190px;
            position: relative;
            top: 80px;
    }
    .getin span{
            padding: 0px 119px;
            position: absolute;
            top: 206px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252B42;
            width: 150px;
        
    }
    .twoemail {
        position: absolute;
        top: 150px;
        left: 610px;
    }
    .resttwo span{
        color: #ffffff;
    }
    .getinrest p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
        position: relative;
    top: 100px;
    left: 15%;
    width: 77%;
    }
    .resttwo p{
        color: #ffffff;
        /* padding-left: 50px; */
    }
    .restthree p.getsbtntext{
        /* padding-left: 88px; */
    }
    .restthree svg{
        padding-left: 90px;
    }
    
    p.getsbtntext {
        color: var(--primary-red-color);
        top: 245px;
    }
    .resttwo p.getsbtntext {
        color: #ffffff;
        padding-left: 92px;
    }
    .restone {
        width: 85%;
    display: flex;
    flex-direction: column;
    }
    .resttwo {
        width: 90%;
    background-color: var(--primary-red-color);
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    }
    .resttwo:hower{
        transform: translateZ(100px);
    }
    
    .restthree {
        width: 25%;
        height: 309px;
        display: flex;
        flex-direction: column;
    }
    a.getsbtn1 {
        position: relative;
        top: 140px;
        background-color: white;
        width: 40%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 96px;
    }
    .getsbtn1:hover{
            background-color: var(--primary-red-color);
            border: 1px solid;
            border-color:#ffffff ;
       
    }
    p.emailtextt {
        position: relative;
        left: 6%;
        font-size: 11px;
    }
    .getsbtn3:hover{
        background-color: var(--primary-red-color);
        border: 1px solid;
        border-color:#ffffff ;
    
    }
    p.getsbtntext1 {
        top: 0px;
        color: var(--primary-red-color);
    }
    .getsbtntext1:hover{
        top: 0px;
        color: #ffffff;
    }
    .getsbtntext3:hover{
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext2 {
        top: 0px;
        color: #ffffff;
    }
    p.getsbtntext3 {
        top: 0px;
        color: var(--primary-red-color);
    }
    a.getsbtn3{
        position: relative;
        top: 150px;
        /* background-color: white; */
        width: 50%;
        height: 47px;
        border: 1px solid var(--primary-red-color);
        border-radius: 5px;
        left: 20%;
    }
   
    a.getsbtn2 {
        position: relative;
    top: 140px;
    /* background-color: white; */
    width: 50%;
    height: 47px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    left: 25%;
    display: flex;
    }
}
@media screen and (1000px <= width <= 1200px){
    a.getsbtn1{
        width: 45%;
        left: 75px;
    }
    a.getsbtn2{
        top: 126px;
    }

}