

.hero{
    height: 90vh;
    width: 100%;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    background:#004fa2;
    opacity: 0.9999999;
    position: absolute;
    top: 80px;
}



#video {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    object-fit: cover;
    z-index: -1;
}

.Typewriter__wrapper {
    width: 1100px;
    height: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 66px;
    text-align: left;
    z-index: -9;
    bottom: 9px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .Typewriter__cursor {
    font-size: 60px !important;
    color: #ffffff !important;
  }


.hero .content{
    text-align: left;
    position: absolute;
    margin: 0px 90px;
    width: 100%;
    height: 100px;
    top: 35vh;
}

.hero .content h1 {
    width: 1100px;
    height: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 66px;
    text-align: left;
    z-index: -9;
    bottom: 9px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.hero .btnhome{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 0px;
gap: 20px;
width: 3000px;
height: 48px;
}

.hero .btnhome .btn{
    display: flex;
flex-direction: column;
align-items: center;
padding: 1px 1px;
width: 150px;
height: 48px;
background: var(--primary-red-color);
border-radius: 37px;
border-style: none;
}

.hero .btnhome .btn-light{
    display: flex;
flex-direction: column;
align-items: center;
padding: 1px 1px;
width: 150px;
height: 48px;
background: #004FA2;
border-radius: 37px;
}

.hero .btnhome .btntext{
    width: 120px;
height: 3px;
text-transform:capitalize;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 22px;
text-align: center;
letter-spacing: 0.6px;
color: #FFFFFF;
}

@media screen and (max-width:1200px) {
            
        .hero{
            height: 100%;
            width: 100%;
            object-fit: contain;
            position: relative;
            overflow: hidden;
            background:#004fa2;
            opacity: 0.9999999;
            position: absolute;
            top: 80px;
        }



        #video {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.70;
            object-fit: cover;
            z-index: -1;
        }

        .Typewriter__wrapper {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 41px;
            text-align: left;
            z-index: -9;
            bottom: 9px;
            letter-spacing: 0px;
            color: #ffffff;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        .Typewriter__cursor {
            font-size: 35px !important;
            color: #ffffff !important;
        }


        .hero .content{
            text-align: left; position: absolute; margin: 1px 12px; width: 100%; height: 34%; top: 27vh;
        }

        .hero .content h1 {
            width: 95%; height: 180px; 
            font-family: 'Montserrat'; font-style: normal; font-weight: 800; font-size: 35px; line-height: 41px; 
            text-align: left; z-index: -9; bottom: 9px; letter-spacing: 0px; 
            color: #ffffff; margin-block-start: 0px; margin-block-end: 0px;
        }

        .hero .btnhome{
            display: flex; flex-direction: row; align-items: flex-start; 
            padding: 7px 0px; gap: 20px; width: 96%; height: 48px;
        }

        .hero .btnhome .btn{
            display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px 1px;
        background: var(--primary-red-color);
        width: 100px; height: 35px;border-radius: 25px;
        border-style: none;
        }

        .hero .btnhome .btn-light{
            display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px 1px;
        background: #004FA2;
        width: 100px; height: 35px;border-radius: 25px;
        }

        .hero .btnhome .btntext{
            width: 85px;
        height: 3px;
        text-transform:capitalize;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.6px;
        color: #FFFFFF;
        }
}
