.testsecondimg img{
    width: 224px;
    height: 80px;
}
.TestSecond {
    width: 75%;
    height: 400px;
    text-align: center;
    position: relative;
    top: 95px;
    left: 200px;
}
.Testsecondhead h4{
        font-family: 'Montserrat';
        text-decoration: underline;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: var(--primary-red-color);
        margin-block-end: 2rem;
        position: relative;
        left: -10px;
    
}
.Testsecondgrid{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 25px;
    grid-row-gap:75px;
    position: relative;
    left: 100px;
}

.testabout{
    width: 95%;
    height: 250px;
    background-color: var(--primary-red-color);
    position: relative;
    left:50px;
    top:50px;
}
.testser {
    width: 80%;
    height: 1000px;
    position: relative;
    top: -10px;
    left: 50px;
    display: flex;
    flex-direction: column;
}
.testserhead {
    width: 70%;
    height: 200px;
    position: relative;
    top: 80px;
    left: 15%;
}

.testsermain {
    width: 98%;
    height: 750px;
    position: relative;
    top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 3%;
    left: 12%;
}
.testservice {
    display: flex;
    flex-direction: column;
}

.testservice img{
    width: 350px;
    height: 200px;
    position: relative;
    top: 5px;
    left: 19px;
}

.testservice h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 0.2px;
    color: #004fa2;
    width: 318px;
    /* text-transform: uppercase; */
    line-height: 29px;
    position: relative;
    top: 5px;
    left: 46px;
    margin-block-end: 0em;
    text-align: center;
}
span.serheadred {
    padding-left: 10px;
}
.sername {
    display: flex;
    position: relative;
    top: 50px;
    left: 25%;
}
.sername h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.2px;
    color: #000000;
    margin: 0em;
}
p.serp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #004fa2;
    text-transform: uppercase;
    margin-block-end: 1em;
    margin-block-start: 0em;
    position: absolute;
    top: 130px;
}


.testserhead .sername::before{
    content: " ";
    display: block;
    height: 2px;
    width: 350px;
    position: absolute;
    top: 55%;
    left: -430px;
    background: red;

}
.testserhead .sername::after{
content: " ";
display: block;
height: 2px;
width: 300px;
position: absolute;
top: 55%;
left: 650px;
background:red;

}