.testfirst {
    width: 100%;
    /* background: linear-gradient(233deg, #D71489 -7.04%, #004788 100%);
    opacity: 0.89; */
    position: relative;
    top: 80px;
}

.testimg img{
        width: 100%;
        height: 476px;
        opacity: 1;
}
.testimagecontent {
    position: absolute;
    top: -70px;
    left: -331px;
}
.testimagecontent h2 {
    position: absolute;
    top: 153px;
    left: 394px;
    width: 600px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.2px;
    text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.24);
    color: white;
}

.eloanservices {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    width: 69%;
    height: 250px;
    position: absolute;
    top: 450px;
    left: 200px;
}

.eloanservices img{
    max-width: 250px;
    max-height: 200px;
}
.eservice {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
    padding-top: 10px;
    border-radius: 5px;
}
.eservice p{
    color: white;
}
.eservice p:hover{
    color: var(--primary-red-color);
    cursor: pointer;
}
.serred{
    background-color: var(--primary-red-color);
}
.serred  p:hover{
    color: #004fa2;
    cursor: pointer;
}
.serblue{
    background-color: #004fa2;
}

@media screen and (max-width:900px) {
    .testfirst {
        width: 150%;
    }
    .testimg img{
            width: 110%;
    }
}