.howmain{
    position: absolute;
    top: 1600px;
    width: 100%;
    height: 2125px;
}

.University1, .soplor1, .visaprocess1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 14px 240px;
}

.howcontent {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.howmain h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
/* or 142% */

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #000033;
margin-block-end: 0rem;
}
.howmain p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */

display: flex;
align-items: center;
letter-spacing: 0.2px;
color: #000033;
}
.howpic{
    width: 460px;
    margin: 20px 96px 0px 96px;
    position: relative;
    float: left;
    border-radius :  213px 0px 218px 216px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.howpic img{
    position: absolute;
        border: none;
        width: 535px;
        height: 415px;
        top: -100px;
        left: -30px;
        cursor: cursor;
    
}
.TestPreparation1, .foreignlang1, .educationloans1 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 390px;
    left: -210px;
}
.soplor1 {
    top: 741px;
}
.educationloans1 {
    top: 725px;
}

.visaprocess1 {
    top: 1330px;
}
.foreignlang1{
    top:1130px;
}
.howpic-reverse{
    width: 460px;
    margin: 20px 96px 0px 96px;
    position: relative;
    float: left;
    border-radius: 218px 216px 213px 0px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.howpic-reverse img{
    position: absolute;
        border: none;
        width: 535px;
        height: 415px;
        top: -78px;
        left: -41px;
        cursor: cursor;
}

@media  screen and (max-width:1250px) {
    .University1.aos-init.aos-animate .soplor.aos-init.aos-animate {
        position: absolute;
        /* top: 5px; */
        left: -77px;
    }
    .TestPreparation1.aos-init.aos-animate{
        position: absolute;
        /* top: 5px; */
        left: 50px;
    }
    .educationloans1.aos-init.aos-animate {
        position: absolute;
    top: 1200px;
    left: 75px;
    }
    
}