@media  screen and (max-width:3000px) {
    .main{
        position: relative;
        width: 100%;
        top: 40px;
    }
    
    .University, .soplor, .visaprocess {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 50px;
        left: 15vw;
        width: 90%;
        gap: 13px;
    }
    .soplor, .visaprocess{
        top: 100px;
    }
    
    .Content {
        
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;

    }
    .Content.reverser{
        width: 50%;
    }
    
    .main h2{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 57px;
    /* or 142% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    
    color: #000033;
    margin-block-end: 0rem;
    }
    .main p{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000033;
    text-align: justify;
    }
    .pic{
        width: 30%;
    margin: 122px 78px 0px 96px;
    position: relative;
    float: left;
    /* border-radius: 213px 0px 218px 216px; */
    overflow: hidden;
    /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); */
    height: 250px;
    }
    .pic.space{
        margin-top: 192px;
    }
    .pic img{
        position: relative;
    border: none;
    width: 106%;
    height: 111%;
        
    }
    .TestPreparation, .foreignlang, .educationloans {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    top: 90px;
    width: 80%;
    left: 50px;
    }
    /* .soplor {
        top: 780px;
    }
    .educationloans {
        top: 920px;
    }
    
    .visaprocess {
        top: 1530px;
    }
    .foreignlang{
        top:1330px;
    } */
    .pic-reverse{
        margin: 70px 96px 0px 96px;
        width: 30%;
    /* margin: 82px 78px 0px 96px; */
    position: relative;
    float: left;
    /* border-radius: 213px 0px 218px 216px; */
    border-radius: 5%;
    overflow: hidden;
    /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); */
    height: 250px;
    }
    
    .pic-reverse img{
        position: relative;
        border: none;
        width: 106%;
        height: 148%;
        top: -35%;
    }
    
    
}