
@media  screen and (max-width:3000px) {
    .studymain{
        position: relative;
        top: 80px;
        width: 100%;
    }
    
    .University3, .soplor3, .visaprocess3,.visaprocess4 {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 50px;
        left: 15%;
        width: 80%;
        gap: 13px;
    }
    
    .studycontent {
        width: 60%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
    }
    
    .studymain h2{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    /* or 142% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    
    color: #000033;
    margin-block-end: 0rem;
    }
    .studymain p{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000033;
    text-align: justify;
    }
    .studypic{
        /* width: 33%;
        margin: 20px 96px 0px 96px;
        position: relative;
        float: left;
        border-radius :  213px 0px 218px 216px;
        overflow: hidden;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
        top: 30px; */
        width: 30%;
    margin: 24px 96px 0px 96px;
    position: relative;
    float: left;
    border-radius: 213px 0px 208px 216px;
    overflow: hidden;
    /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); */
    top: 30px;
    height: 73%;}
    .studypic.gap{
        margin-top: 90px;
    }
    .studypic img{
        position: relative;
    border: none;
    width: 123%;
    height: 121%;
        
    }
    .TestPreparation3, .foreignlang3,.foreignlang4, .educationloans3 {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    top: 50px;
    width: 80%;
    left: 7%;
    }
    /* .soplor3 {
        top: 820px;
    }
    .educationloans3 {
        top: 920px;
    }
    
    .visaprocess3 {
        top: 1600px;
    }
    .foreignlang3{
        top:1330px;
    }
    
    .visaprocess4{
        top: 2320px;
    }
    .foreignlang4{
        top: 1800px;
    } */
    .foreignlang4 .studycontent{
        width: 515px;
    }
    .studypic-reverse{
        width: 30%;
        margin: 20px 96px 0px 96px;
        position: relative;
        float: left;
        border-radius: 218px 216px 213px 0px;
        overflow: hidden;
        /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); */
        /* box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6); */
        height: 250px;
    position: relative;
    top: 30px;
    }
    
    .studypic-reverse img{
        position: relative;
        border: none;
        width: 106%;
        height: 148%;
        top: -35%;
    }
    
    
}