/* .footer{
    position: relative;
    width: 100%;
height: 390px;
top:1200px
} */

.sb_footer_section_padding{
    background: var(--primary-red-color);
    mix-blend-mode: darken;
}
.sb_footer{
    display: flex;
    flex-direction: column;

}
.svgloc{
    position: absolute;
    top: 220px;
}
.phonesvg {
    position: absolute;
    top: 158px;
}
.phoneo {
    display: flex;
    flex-direction: row;
}
.Location {
    display: flex;
    flex-direction: row;
    margin-block-start: 1rem;
}

.sb_footer-links{
    display: flex;
    /* justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; */
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    padding: 1px;
    position: relative;
    left: 5%;
}
.sb_footer-made {
    position: relative;
    top: -8px;
}
.sb_footer-links_div1{
    width: 146px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0px 10px 0px 70px;
}
.sb_footer-links_div3{
    width: 140px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}
.sb_footer-links_div4{
    width: 360px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.sb_footer-links_div{
    width: 273px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding: 0px 0px 0px 20px;
}
.footer span{
    padding-top: 15px;
}

.footer a,p{
    margin-block-end: 0em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.sb_footer-links_div h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 650;
font-size: 16px;
/* line-height: 24px; */
letter-spacing: 0.3px;
color: #FFFFFF;
margin-bottom: 0.5rem;
}

.footer-first{
    position: relative;
height: 80px;
right: 0px;
top: 10px;
bottom: 50px;
}
.footer-first h3{
    width: 450px;
height: 36px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 650;
font-size: 20px;
line-height: 39px;
letter-spacing: 0.1px;
color: #004FA2;

}


.Containero{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px;

position: absolute;
width: 700px;
height: 138px;
left: 300px;
top: 0px;
}

.Rowo{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 1109px;
height: 40px;
}

.col1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 1px;
width: 465px;
height: 80px;
}

/* .col2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 176px;
    height: 51px;
border-radius: 10px;
background-color: var(--primary-red-color);
} */

.footer .footbtn{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 175px;
height: 50px;

background: var(--primary-red-color);
border-radius: 10px;

}
.footbtn:hover{
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: var(--primary-red-color);
}
.footer .footbtntext{
    width: 175px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    margin-block-start: 0em;
}
.footbtntext:hover{
    color: var(--primary-red-color);
}

.footer .sb_footer-below{
    display: flex;
flex-direction:row;
align-items: center;
position: relative;
    top: -9px;
    left: 8%;
    gap: 625px;
}
.sb_footer-below p {
    color: white;
}
.sb_footer-below-made{
    padding:0 50px;
}
.footer h4{
    margin-block-end: 7px;
    font-size: 19px;
}

.sb_footer-links_div1 p:hover{
    color: #004FA2;
    margin-block-end: 0em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 650;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.phoneandmailfooter{
    display: flex;
    flex-direction: row;
    position: relative;
}
.phoneandmailfooter svg {
    position: absolute;
    top: 12px;
    padding-left: 1px;
}
.phoneandmailfooter p {
    padding-left: 36px;
}
.sb_footer-links_div_image {
    width: 17%;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    padding: 0px 0px 0px 20px;
    left: 7%;
    position: relative;
}



@media screen and (max-width: 1250px) {
    .sb_footer-links {
        width: 90%;}
    .footer .sb_footer-below{
        gap: 24%;
        left: 9%;
        }
        .sb_footer-made{
            width: 50%;
        }
        .sb_footer-below-icons {
            width: 25%;
        }
        .sb_footer-links_div3{
            margin: 0.1rem;
        }
        .sb_footer-links_div{
            width: 25%;
            margin: 0.1rem;
        }
        .sb_footer-links{
            left: 7%;
        }
        .footeremailtext{
            font-size: 12px;
        }
    
}
    
@media screen and (max-width:900px) {
    .footer{
        display: none;
    }
    
}