.header {
    position: fixed;
    width: 105vw;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    z-index: 10;
    background-color: white;
}


.header-bg{
    background-color: white;
    transition: .5s;
}
.header-bg .nav-menu a{
    color: black;
}

.Logo img {
    position: fixed;
    width: 199px;
    max-width: 200px;
    max-height: 90px;
    top: 13px;
    left: 90px;
}

.nav-menu{
    display: flex;
    padding: 0px 45px;
    position: relative;
    right: 20px;
}

.nav-menu li{
    padding:0 0.5rem;
    
}

.nav-menu a{
    font-family: var(--primary-font-type);
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 24px;
color: #000000;

}

.hamburger{
    display: none;
}

@media screen and (max-width : 1950px){
    .header {
        position: fixed;
        width: 100vw;
        height: 95px;
        padding: 0.5vh;
    }
    
    
    .Logo img {
        position: fixed;
        width: 15%;
        max-width: 25%;
        max-height: 100%;
        /* top: 1%; */
        left: 7.5%;
    }
    .Collapse {
        position: relative;
        top: 10%;
        right: 3%;
    }
    .nav-menu{
        display: flex;
        /* padding: 5px 45px; */
    }
    
    .nav-menu li{
        padding:0 7px;  
    }
    
    .nav-menu a{
        font-family: var(--primary-font-type);
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #000000;
    
    } 
}
@media screen and (max-width:900px) {
    .header{
        width: 100vw;
        height: 80px;
    }
    .header-bg .nav-menu a{
        color: white;
    }
    .Logo img{
        position: fixed;
    width: 296px;
    max-width: 50%;
    height: 50px;
    left: 50px;
    top: 27px;
    }

    .hamburger{
        position:absolute;
    top: 40px;
    left: 13px;
    display: flex;
    }
    .nav-menu{
        visibility: hidden; 
        position: relative; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        top: 50px;
         /* right: 10px; */ 
        padding: 12px 5px; 
        text-align: center; 
        width: 195%; height: 67%; 
        z-index: -1; 
        background: black;
        }
        
    /* .nav-menu.active{
        left:0
    } */

    .nav-menu.active {
        visibility: visible;
        position: relative;
        top: 307px;
        left: -250px;
    }

    .nav-menu li{
        padding: 1rem 0;

    }
    .nav-menu a{
        font-size: 1rem;
        color: white;
    }
    
    
}


@media screen and (901px <= width <= 1250px){
    .header{
        width: 100vw;
        height: 95px;
    }
    .Logo img{
        position: fixed;
    width: 176px;
    height: 43px;
    left: 50px;
    top: 27px;
    }

    .hamburger{
        position:absolute;
    top: 40px;
    left: 13px;
    display: flex;
    }
    .nav-menu{
        visibility: hidden; 
        position: relative; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        top: 50px;
        right: 90%;
         /* right: 10px; */ 
        padding: 5px 5px; text-align: center; 
        width: 91%; height: 47%; 
        z-index: -1; background: rgb(100, 76, 76);
        }
        
    /* .nav-menu.active{
        left:0
    } */

    .nav-menu.active {
        visibility: visible;
        position: relative;
        top: 329px;
        left: -295px;
    }

    .nav-menu li{
        padding: 1rem 0;

    }
    .nav-menu a{
        font-size: 1rem;
        color: white;
    }
}

.nav-menu a:hover{
    color: #004fa2;
    font-family: var(--primary-font-type);
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
}














